<header class="header">
	<div class="header__container">
		<nav class="header__nav">
			<ul class="header__menu">
				<li class="header__item">
					<a href="#"
					   class="header__link link--underline fw-700">
						О вулкане
					</a>
				</li>
				<li class="header__item">
					<a href="#"
					   class="header__link">
						Проживание
					</a>
				</li>
				<li class="header__item">
					<a href="#"
					   class="header__link">
						Условия посещениея
					</a>
				</li>
				<li class="header__item">
					<a href="#"
					   class="header__link">
						Интересные факты
					</a>
				</li>
				<li class="header__item">
					<a href="#"
					   class="header__link">
						Контакты
					</a>
				</li>
				<li class="header__item">
					<a href="#"
					   class="header__link">
						Отзывы
					</a>
				</li>
			</ul>
		</nav>

		<div class="header__telbut">
			<a href="tel:8 988 134 43 57"
			   class="header__tel fw-600">
				8 988 134 43 57
			</a>

			<button class="header__button fw-700">
				Записаться
			</button>
		</div>
	</div>

</header>