*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
select,
button {
	background: none;
	font: inherit;
	border: none;
	outline: none;
	color: inherit;
}

input[type='file'] {
	display: none;
	visibility: hidden;
}

a {
	color: inherit;
	display: block;
	text-decoration: none;
}

li {
	list-style: none;
}

svg {
	display: block;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: $bg;
	overflow-x: hidden;
	font-family: 'jost', system-ui, sans-serif;
	line-height: $line-height;
	font-size: $text-sm;
	color: $white;
	-webkit-font-smoothing: antialiased;

	&.no-scroll {
		overflow-y: hidden;
	}
}

main {
	margin-bottom: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: $line-height-sm;
}

p {
	margin: 0;
}

strong {
	font-weight: 600;
}

::selection {
	background-color: $accent-lighter;
	color: #fff;
}

:root {
	--gap: #{$gap};
}

.body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	font-size: 22px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	justify-content: space-between;
	line-height: 1.4;

}

.container{
	padding: 18px 23px 20px;
	max-width: 1245px;
	justify-content: center;
	width: 100%;
	display: block;
	flex: 1 1 auto;
}

.intro{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

	&__content{
		padding: 10% 5% 5% 5%;
		width: 1920px;
		height: 1167px;
	}

	&__text{
		font-size: 25px;
		
		&--bold{
			font-weight: 700;
			font-size: 35px;
			width: 55%;
			text-align: right;
		}
	}

	&__title{
		font-size:   250px;
		font-family: "Kramola", serif;
	}
}

.introbg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.aboutbg{
	width: 100%;
	height: 100%;
	z-index: -1;
}

.about{

	&__recommendations{

	}

	&__info{
		display: flex;
		flex: 1 1 auto;

		&--button{

		}
	}

	&_-content{

	}

	&__title{

	}

	&__text{

	}
}

.recommendations{
	color:       #1B1B1B;

	&__title{
		text-align:  center;
		font-family: Kramola, serif;
		font-size:   32px;
	}

	&__list{
		list-style-type: disc;
	}

	&__text{
		text-align: center;
	}
}

